.board 
{
    background-color: #338a54;
    text-align: center;
    width:100%;
    margin: 0;
    height:100vh;
    padding-top:100px;
}

#imageOnBoard 
{
    height:100px;
    width:auto;
    margin-top:-50px;
}

#boardWelcome 
{
    font-size:40px;
    color: #fdc8b7;
}